body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:burlywood;
    color: black;
    font-family: cursive;
    font-size: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px;
}

a{
    color:brown;
    text-decoration:dotted;
}

    h1{
        font-size: 4rem;
        color: #333;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }